/****************************
Site Wide Colors

Background-grey: #f7f7f7;


*****************************/
/****************************
Site Wide Styles/Defaults
*****************************/
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	min-width: 300px;
}
body {
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

li,
a {
  list-style: none;
  text-decoration: none;
}
i {
	color: white;
}
.arrow-right,
.arrow-left {
	display: inline-block;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.slide_img {
	margin-bottom: 0px;
}
.style_name {
	font-size: 1.5rem;
	color: red;
}
 
/****************************
Colors/Backgrounds
*****************************/
/****************************
Body/universal
*****************************/
/****************************
Header styles
*****************************/
	.primary_color_bg {
		background: url('../img/Primary_bg.png');
	}
	header .main-nav a,
	.slide_text {
		color: white;
	}
	.sub_logo {
		background-color: #f7f7f7;
	}
	header .main-nav li a:hover {

	}
	.nav-toggle {
		float: right;
		border:0; 
		font: 0/0 a; 
		text-shadow: none; 
		color: transparent; 
		background: url('../img/hamburger_nav.png');
		height: 30px;
		width: 30px;
		}
/****************************
section_desc/section_feed styles
*****************************/
	.section_desc h4,
	.section_feed h4,
	.secondary_desc h4,
	.people_unique_desc h4 {
		color: #7AFA73;
	}
	.section_feed p {
		color: black;
	}
	.section_desc p,
	.section_feed h6,
	.people_unique_desc p,
	.col_3_logo p,
	.secondary_desc p {
		color: #505050;
	}
	.secondary_bg_color {
		background: #f7f7f7;
	}
	.section_feed h6 {
		font-style: italic;
	}
	
	.section_desc h3,
	.primary_color_bg .section_desc h2,
	.primary_color_bg .section_desc h5 {
		color: white;
	}
	.section_desc h2,
	.section_desc p,
	.col_3_logo h2,
	.people_unique_desc h2,
	.secondary_desc h2 {
		font-weight: 300;
	}

	/****************************
	Footer Styles
	*****************************/	
	footer {
		background: #222222;
	}

	/*IMPORTANT! OVERRIDES FOOTER COLOR DEFAULT*/
	footer .up-arrow i {
		background: #7AFA73;
	}
	footer h6 {
		color: white;
	}
	.copyright h6:first-child{
		font-style: italic;
	}
	.footer li a {
		color: #7AFA73;
	}
	footer .main-nav li a:hover {
		color: white;
	}

	/****************************
	Button Styles
	*****************************/

	.button {
		border-radius: 3px;
		padding: 5px 15px;
	}
	.white {
		color: 	#30AC59;
		background: white;
		border: solid white 2px;
	}
	.clear_white {
		color: white;
		border: solid white 2px;

	}
	.green {
		color: white;
		background: #7AFA73;
		border: solid #7AFA73 2px;
	}
	.clear_green {
		color: #7AFA73;
		border: solid #7AFA73 2px; 
	}

/****************************
Layout Mobile/default
*****************************/
/****************************
Header Layout
*****************************/

	.main-nav {
		min-height: 350px;
		clear: both;
	}
	.main-nav li {
		margin: 1.4rem auto;
		text-align: center;
	}
	.main-logo {
		display: block;
		background: url('../img/ccms_logo.png') no-repeat left center;
		height: 100px;
		width: 215px;
		float: left;
		margin-left: 15px;
		
	}
	.nav-toggle {
		margin: 35px 15px;
	}
	.slide_text > * {
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
	}
	
	.arrow-right {
		margin-left: 2%;
	} 
	.arrow-left {
		margin-right: 2%;
	}
	.slide_img {
		background: url('http://lorempixel.com/320/200');
		height: 200px;
		width: 100%;
		background-repeat: no-repeat;
	}
/****************************
dropdown_nav (everything including header styles for testing go here)
*****************************/
	
	.main-nav li {
		text-align: left;
	}
	.main-nav {
		min-height: 750px;
		padding-left: 20px;
	}
	.dropdown_nav {
		border-left: 3px solid white;
		padding: 1px 10px;
		margin-left: 10px;
	}
	.main-nav ul {
		display: block;
	}
/****************************
Sub logo Layout
*****************************/
	.sub_logo li {
		text-align: center;
	}
	.sub_logo {
		text-align: center;
	}
/****************************
section_desc/ section_feed (3 and 2) Layout
*****************************/
	.section_desc {
		width: 80%;
		text-align: center;
		margin: 2rem auto;
		padding: 2rem 0;
	}
	.section_desc_img {
		background: url('../img/UCSD_campus_photo.png') no-repeat center;
		width: 80%;
		height: 380px;
		/*padding: 6rem 8rem;*/
	}
	.section_feed .secondary_bg_color {
		border-bottom: solid #7AFA73 5px;
	}

	.section_feed {
		width: 80%;
		margin: auto;
		text-align: center;
	}
	
	.section_feed img {
		width: 100%;
	}
	.primary_color_bg .section_desc {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.primary_color_bg .section_desc .button {
		display: inline-block;
		margin-top: 20px;
	}

	.section_feed .button {
		margin: 40px auto;
		display: inline-block;
	}
	.button_display .button {
		display: inline-block;
	}
	.button_display .clear_green,
	.button_display .clear_white {
		margin-top: 10px;
	}
	.bottom li {
		margin-bottom: 40px;
	}

/****************************
Secondary_desc
*****************************/	

	.Secondary_desc .graph_img,
	.Secondary_desc .graph_desc {
		text-align: center;
	}
	.Secondary_desc {
		width: 80%;
		margin: 3rem auto;
	}
	.graph_img img {
		width: 100%;
	}
/****************************
3_col_logo
*****************************/	
	.col_3_logo {
		width: 80%;
		margin: 20px auto;
		text-align: center;
	}
	.col_3_logo li {
		display: inline-block;
		margin: 20px 0;
	}
/****************************
Unique 1
*****************************/	
	.leader_head {
		margin-bottom: 0px;
	}
	.leader_img {
		text-align: center;
	}
	.leader_img img {
		width: 100%;
	}
	.people_unique_desc {
		text-align: center;
		width: 80%;
		margin: 20px auto 40px auto;
	}
	.leader_detail li {
		margin: 40px auto;
	}
	.fa-phone {
		color: black;
	}

/****************************
Leader_description
*****************************/

	.leader_description {
		text-align: center;
		margin: auto;
	}
	.leader_description img {
		margin-bottom: -40px;
	}
	.leader_desc_text h4 {
		margin-top: 0;
	}
	.leader_contact_text {
		text-align: center;
		line-height: .25;
		margin: 60px auto;
		border: 1px black solid;
		width: 90%;
		max-width: 380px;

	}
	.leader_contact_text h2 {
		line-height: 1.5;
	}
	.leader_research_content {
		text-align: center;
	}
/****************************
Footer Layout
*****************************/
	footer .up-arrow i {
		width: 100%;
		text-align: center;
		padding: 10px 0;
		display: block;
	}
	.inner_footer {
		width: 100%;
	}
	.footer {
		min-height: 350px; 
		padding-left: 0;
	}

	.footer li {
		text-align: center;
	}
	.footer-logo {
		background: url('../img/ccms_footer_logo.png') no-repeat center center;
		height: 30px;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
	.social_media_foot li {
		display: inline-block;
	}
	.social_media_foot {
		text-align: center;
	}
	.copyright {
		text-align: center;
	}

}


/****************************
Break 2
*****************************/
@media (min-width: 321px) {
	
	body {
		font-size: 1.05rem;
	}
/****************************
Header Layout (2)
*****************************/
	
	.main-logo {
		margin-top: 0px;
		width: 215px;
		float: left;
	}
	.slide_img {
		background-image: url('http://lorempixel.com/700/400');
		height: 300px;
		width: 100%;
		background-repeat: no-repeat;
	}
/****************************
Section_desc(2)
*****************************/
	.section_desc {
		width: 80%;
		text-align: center;
		margin: 2rem auto;
	}
	.button_display li {
		display: inline-block;
	}
}

/****************************
Break 3
*****************************/
@media (min-width: 680px) {
	body {
		font-size: 1.1rem;
	}
	.button_display li:nth-child(2) {
		margin-left: 15px;
	}
/****************************
Header Layout(3)
*****************************/
	/*.main-nav li {
		margin: 1rem 1.3rem;
		text-align: center;
		display: inline-block;
	}*/
	.main-nav {
		text-align: left;
	}
	.main-logo {
		height: 100px;
		
	}
	.slide_text > * {
		text-align: left;
	}
	.slide_text { 
		float: left;
		width: 45%;
		margin-left: 1.5rem;
	}

	.slide_img {
		background-image: url('http://lorempixel.com/550/500');
		height: 500px;
		width: 45%;
		background-repeat: no-repeat;
		float: right;
	}
	.hero_slider {
		margin-top: 30px;
	}
	header {
		padding: 0px;
	}
	.arrows {
		margin-top: 15px;
	}

/****************************
Sub logo(3)
*****************************/
	.sub_logo li {
		display: inline;
	}
	.sub_logo img {
		width: 18%;
	}
/****************************
Section_feed/Section_desc(3)
*****************************/
	.section_feed {
		width: 100%;
	}
	
	.section_feed .secondary_bg_color {
		min-height: 24rem;
		text-align: left;
	}

	.section_feed li {
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}
	.section_feed .col_2 {
		width: 40%;
	}

	.section_feed li:first-child,
	.section_feed li:nth-child(2) {
		margin-right: 2%;
	}
	.section_feed h4,
	.section_feed p,
	.section_feed h6 {
		padding-left: 10px;
	}
	.bottom {
		margin-bottom: 20px;
	}
	.section_desc {
		width: 60%;
	}
	/*.section_feed .secondary_bg_color p {
		overflow:hidden;
		white-space: nowrap; 
		text-overflow:ellipsis;
	}*/

	/*The above is a potential solution for section_feed boxes but I couldn't figure out how
	to make it do it just on the second line or how to make it clickable*/
/****************************
Secondary Desc
*****************************/
	.graph_img {
		float: left;
		width: 45%
	}

	.secondary_desc .graph_desc {
		float: right;
		width: 45%;
		text-align: left;
	}

/****************************
col_3_logo(3)
*****************************/
	.col_3_logo {
		width: 100%;
		margin: 60px auto;
	}
	.col_3_logo li {
		width: 30%;
		padding:0 1.2rem;
	}
/****************************
Unique 1(3)
*****************************/
	.leader_head {
		margin-bottom: 0px;
	}
	.leader_detail li {
		display: inline-block;
		width: 30%;
		padding: 0 1rem;
		vertical-align: top;
	}
	.leader_detail {
		margin: 0 auto;
	}
	.leader_img img {
		width: 60%;
	}
	.picture_detail {
		width: 80%;
		margin: 0 auto;
	}
/****************************
Leader Description (3)
*****************************/
	
/****************************
Footer(3)
*****************************/
	.inner_footer {
		padding: 50px;
	}
	footer .footer-logo {
	 float: left;
	 display: block;
	 width: 137px;
	}
	.copyright {
		text-align: left;
		float: left;
		max-width: 337px;
		clear: both;
	}
	footer .social_media_foot {
		float: right;
	
	}
	footer .main-nav {
		display: none;
	}

}

/****************************
Break 4
*****************************/
@media (min-width: 1140px) {
/****************************
Header(4)
*****************************/
	.main-nav li {
		display: inline-block;
		margin-right: 1.4rem;
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 3px;
	}
	.main-nav  li:nth-child(-n+6) {
		padding: 0 5px;
	}
	.main-nav {
		clear: none;
		float: right;
		min-height: 60px;
		line-height: 35px;
	}
	.main-logo {
		float: left;
		background: url('../img/ccms_logo.png') no-repeat left center;
		height: 30px;
		width: 215px;
		margin-top: 0px; 
		margin-right: -50px;
	}
	header {
		padding: 40px 15px;
	}
	.slide_text > * {
		text-align: left;
	}
	.slide_text {
		float: left;
		width: 45%;
		padding-top: 60px;
		margin-left: 2%;
	}
	.slide_img {
		background-image: url('http://lorempixel.com/700/500');
		height: 500px;
		width: 45%;
		background-repeat: no-repeat;
		float: right;
	}
	.hero_slider {
		margin-top: 30px;
	}
	.arrows {
		margin-top: 50px;
	}
/****************************
dropdown_nav(4) (everything including header styles for testing go here)
*****************************/
	.main-nav ul {
		display: none;
		position: absolute;
	}
	.main-nav li:hover > ul,
	.main-nav ul:hover > ul {
		display: block;
	}
	.main-nav li:hover {
		background: #222222;
	}
	
	.dropdown_nav li {
		display: block;
	}
	.main-nav > li:nth-child(1):hover {
		height: 67px;
	}
	
	.main-nav > li:nth-child(2):hover {
		height: 247px;
	}
	.dropdown_nav {
		line-height: 30px;
		background: #222222;
		border-radius: 3px;
	}
	.dropdown_nav {
		color: #7AFA73;
	}
	.dropdown_nav {
		border: none;
		margin-left: 0px;
		padding-left: 0px;
	}
	
/****************************
Section_feed/Section_desc (4)
*****************************/
	.section_feed .secondary_bg_color {
		min-height: 28.57142857rem;
	}
	.section_feed li:first-child,
	.section_feed li:nth-child(2),
	.section_feed li:nth-child(4),
	.section_feed li:nth-child(5) {
		margin-right: 2%;
	}
	.bottom {
		margin-bottom: 40px;
	}
/****************************
col_3_logo
*****************************/
	.col_3_logo {
		width: 80%;
	}
/****************************
Unique 1 (4)
*****************************/
	.leader_img {
		float: left;
		width: 40%;
	}
	.people_unique_desc {
		float: right;
		width: 60%;
		margin-top: 0;
		text-align: left;
		}
	.leader_detail li {
		margin: -20px auto 0 auto;
	}
	.leader_detail {
		margin: 0 auto 30px auto; 
	}
	.picture_detail,
	.leader_detail {
		margin-left: 0px;
	}
	.leader_detail li:first-child {
		padding-left: 0;
	}
/****************************
Leader Description (4)
*****************************/
	.leader_description img {
		margin-bottom: -100px;
		display: block;
		float: left;
		margin-right: 0px;
	}
	.leader_desc_text {
		color: white;
		text-align: left;
		float: right;
		width: 60%;
	}
	.leader_description {
		padding-left: 100px; 
	}
	.leader_contact_text {
		margin-left: 100px;
		margin-top: 0;
		float: left;
		text-align: left;
		border: none;
		max-width: 350px;

	}
	.leader_research_content {
		float: right;
		text-align: left;
		width: 60%;
		padding-left: 70px;
	}
	.leader_bottom_content {
		margin-top: 120px;
	}
/****************************
Footer (4)
*****************************/
	footer .main-nav {
		display: block;
		height: 60px;
		line-height: 22px;
	}
	footer .main-nav li:last-child {
		margin-right: 0px;
	}
	.social_media_foot {
		clear: right;
	}
	.copyright {
		margin-top: -50px; 
	}

}

/****************************
Clearfix Hack
*****************************/
.group:after {
	content: "";
	display: table;
	clear: both;
}