/****************************
Site Wide Colors

Background-grey: #f7f7f7;


*****************************/
/****************************
Site Wide Styles/Defaults
*****************************/
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	max-width: 1430px;
}

body {
	font-size: 100%;
}

li,
a {
  list-style: none;
  text-decoration: none;
}
i {
	color: white;
}
.arrow-right,
.arrow-left {
	display: inline-block;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.slide_img {
	margin-bottom: 0px;
}

 
/****************************
Colors/Backgrounds
*****************************/
/****************************
Body/universal
*****************************/
/****************************
Header styles
*****************************/
	.primary_color_bg {
		background: url('../img/Primary_bg.png');
	}
	header .main-nav a,
	.slide_text {
		color: white;
	}
	.sub_logo {
		background-color: #f7f7f7;
	}
/****************************
section_desc/section_feed styles
*****************************/
	.section_desc h4,
	.section_feed h4 {
		color: #7AFA73;
	}
	.section_desc h3 {
		color: white;
	}
	.section_feed p {
		color: black;
	}
	.section_desc p {
		color: #505050;
	}
	.secondary_bg_color {
		background: #f7f7f7;
	}
	.section_feed h6 {
		color: #505050;
	}
	
	.primary_color_bg .section_desc h2,
	.primary_color_bg .section_desc h5 {
		color: white;
	}

	/****************************
	Footer Styles
	*****************************/	
	footer {
		background: #222222;
	}

	/*IMPORTANT! OVERRIDES FOOTER COLOR DEFAULT*/
	footer .up-arrow i {
		background: #7AFA73;
	}
	footer h6 {
		color: white;
	}
	.copyright h6:first-child{
		font-style: italic;
	}
	.footer li a {
		color: #7AFA73;
	}

	/****************************
	Button Styles
	*****************************/

	.button {
		border-radius: 3px;
		padding: 5px 15px;
	}
	.white {
		color: 	#30AC59;
		background: white;
		border: solid white 2px;
	}
	.clear_white {
		color: white;
		border: solid white 2px;

	}
	.green {
		color: white;
		background: #7AFA73;
		border: solid #7AFA73 2px;
	}
	.clear_green {
		color: #7AFA73;
		border: solid #7AFA73 2px; 
	}

/****************************
Layout Mobile/default
*****************************/
/****************************
Header Layout
*****************************/

	.main-nav li {
		margin: 1.4rem;
		text-align: center;
	}
	.main-logo {
		display: block;
		background: url('../img/ccms_logo.png') no-repeat left center;
		height: 100px;
		width: 100%;
		
	}
	.slide_text > * {
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
	}
	
	.arrow-right {
		margin-left: 2%;
	} 
	.arrow-left {
		margin-right: 2%;
	}
	.slide_img {
		background: url('http://lorempixel.com/320/200');
		height: 200px;
		width: 100%;
		background-repeat: no-repeat;
	}
/****************************
Sub logo Layout
*****************************/
	.sub_logo li {
		text-align: center;
	}
	.sub_logo {
		text-align: center;
	}
/****************************
section_desc/ section_feed Layout
*****************************/
	.section_desc {
		width: 80%;
		text-align: center;
		margin: 2rem auto;
		padding: 2rem 0;
	}
	.section_desc_img {
		background: url('http://ucsdnews.ucsd.edu/archive/graphics/images/2010/10-05_atkinson_hall.jpg');
		background-repeat: no-repeat;
		width: 80%;
		height: 380px;
		/*padding: 6rem 8rem;*/
	}
	.section_feed .secondary_bg_color {
		border-bottom: solid #7AFA73 5px;
	}

	.section_feed {
		width: 80%;
		margin: auto;
		text-align: center;
	}
	
	.section_feed img {
		width: 100%;
	}
	.primary_color_bg .section_desc {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.primary_color_bg .section_desc .button {
		display: inline-block;
		margin-top: 20px;
	}

	.section_feed .button {
		margin: 40px auto;
		display: inline-block;
	}
	.button_display .button {
		display: inline-block;
	}
	.button_display .clear_green,
	.button_display .clear_white {
		margin-top: 10px;
	}
	.bottom li {
		margin-bottom: 40px;
	}
/****************************
Footer Layout
*****************************/
	footer .up-arrow i {
		width: 100%;
		text-align: center;
		padding: 10px 0;
		display: block;
	}
	.footer-logo {
		background: url('../img/ccms_footer_logo.png') no-repeat center center;
		height: 30px;
		width: 100%;
		display: block;
	}
	.social_media_foot li {
		display: inline-block;
	}
	.social_media_foot {
		text-align: center;
	}
	.copyright {
		text-align: center;
	}


/****************************
Break 2
*****************************/
@media (min-width: 321px) {
	
	body {
		font-size: 1.05rem;
	}
/****************************
Header Layout (2)
*****************************/
	
	.main-logo {
		height: 7.14285714rem;
		width: 100%;
		margin-top: 0px;
	}
	.slide_text > * {
		text-align: left;
		margin-left: 1.5rem;
	}
	.slide_img {
		background-image: url('http://lorempixel.com/700/400');
		height: 300px;
		width: 100%;
		background-repeat: no-repeat;
	}
/****************************
Section_desc(2)
*****************************/
	.section_desc {
		width: 80%;
		text-align: center;
		margin: 2rem auto;
	}
	.button_display li {
		display: inline-block;
	}
}


/****************************
Break 3
*****************************/
@media (min-width: 680px) {
	body {
		font-size: 1.1rem;
	}
/****************************
Header Layout(3)
*****************************/
	.main-nav li {
		margin: 0 1.3rem;
		text-align: center;
		display: inline-block;
	}
	.main-nav {
		text-align: left;
		float: left;
	}
	.main-logo {
		height: 100px;
		width: 100%;
		
	}
	.slide_text > * {
		text-align: left;
	}
	.slide_text { 
		float: left;
		width: 45%;
		margin-left: 2%;
	}

	.slide_img {
		background-image: url('http://lorempixel.com/450/500');
		height: 500px;
		width: 45%;
		background-repeat: no-repeat;
		float: right;
	}
	.hero_slider {
		margin-top: 30px;
	}
/****************************
Sub logo(3)
*****************************/
	.sub_logo li {
		display: inline;
	}
	.sub_logo img {
		width: 18%;
	}
/****************************
Section_feed/Section_desc(3)
*****************************/
	.section_feed {
		width: 100%;
	}
	
	.section_feed .secondary_bg_color {
		min-height: 24rem;
		text-align: left;
	}

	.section_feed li {
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}

	.section_feed li:first-child,
	.section_feed li:nth-child(2) {
		margin-right: 2%;
	}
	.section_feed h4,
	.section_feed p,
	.section_feed h6 {
		padding-left: 10px;
	}
	.bottom {
		margin-bottom: 20px;
	}
	/*.section_feed .secondary_bg_color p {
		overflow:hidden;
		white-space: nowrap; 
		text-overflow:ellipsis;
	}*/

	/*The above is a potential solution for section_feed boxes but I couldn't figure out how
	to make it do it just on the second line or how to make it clickable*/
/****************************
Footer(3)
*****************************/
	.inner_footer {
		padding: 15px;
	}
	footer .footer-logo {
	 float: left;
	 display: block;
	 width: 137px;
	}
	.copyright {
		text-align: left;
		float: left;
		width: 35%;
		clear: both;
	}
	footer .social_media_foot {
		float: right;
	
	}
	footer .main-nav {
		display: none;
	}

}

/****************************
Break 4
*****************************/
@media (min-width: 1130px) {
/****************************
Header(4)
*****************************/
	.main-nav li {
		display: inline-block;
		margin-right: 1.4rem;
	}
	.main-nav {
		float: right;
		height: 100px;
		line-height: 100px;
	}
	.main-logo {
		float: left;
		background: url('../img/ccms_logo.png') no-repeat left center;
		height: 100px;
		width: 300px;
		margin-top: 0px; 
		margin-right: -50px;
	}
	.slide_text > * {
		text-align: left;
	}
	.slide_text {
		float: left;
		width: 45%;
		margin-top: 0px;
		margin-left: 2%;
	}
	.slide_text h3 {
		margin-top: 150px;
	}
	.slide_img {
		background-image: url('http://lorempixel.com/700/500');
		height: 500px;
		width: 45%;
		background-repeat: no-repeat;
		float: right;
	}
	.hero_slider {
		margin-top: 30px;
	}
/****************************
Section_feed/Section_desc (4)
*****************************/
	.section_feed .secondary_bg_color {
		min-height: 28.57142857rem;
	}
	.section_feed li:first-child,
	.section_feed li:nth-child(2) {
		margin-right: 2%;
	}
	.bottom {
		margin-bottom: 40px;
	}
/****************************
Footer
*****************************/
	footer .main-nav {
		display: block;
	}
}

/****************************
Clearfix Hack
*****************************/
.group:after {
	content: "";
	display: table;
	clear: both;
}